{{- $s := newScratch }}
{{- if eq .Kind "home" -}}
	{{ $s.Set "sb" (default .Site.Params.sidebar.home .Params.sidebar) }}
{{- else if eq .Kind "page" -}}
	{{ $s.Set "sb" (default .Site.Params.sidebar.single .Params.sidebar) }}
{{- else -}}
	{{ $s.Set "sb" (default .Site.Params.sidebar.list .Params.sidebar) }}
{{ end }}
{{- $sidebar := $s.Get "sb" }}
<!-- Loading mathjax macro -->
<!-- Load mathjax -->
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <!-- MathJax configuration -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true,
            processEnvironments: true
        },
        // Center justify equations in code and markdown cells. Elsewhere
        // we use CSS to left justify single line equations in code cells.
        displayAlign: 'center',
        "HTML-CSS": {
            styles: {'.MathJax_Display': {"margin": 0}},
            linebreaks: { automatic: true }
        }
    });
    </script>
    <!-- End of mathjax configuration -->
{{- if $sidebar -}}
<aside class="sidebar{{ if eq $sidebar "left" }} sidebar--left{{ end }}">
{{- $root := . }}
{{- with (default .Site.Params.sidebar.widgets .Params.widgets) -}}
	{{- range $widget := . }}
		{{- $p := printf "widgets/%s.html" $widget }}
		{{- partial $p $root }}
	{{- end }}
{{- else }}
	<p class="sidebar__warning"><strong>{{ T "sidebar_warning" }}:</strong><br>{{ T "sidebar_recommendation" }}</p>
{{- end }}
</aside>
{{- end }}